on_ignored_nl UNK on_tstring_beg on_tstring_content on_tstring_end on_nl on_ignored_nl UNK on_const on_op on_const on_nl UNK UNK on_nl on_ignored_nl UNK UNK java_home on_comma # frozen_string_literal: true
def UNK on_nl if UNK on_nl on_const on_period UNK on_lparen on_const on_period UNK on_period UNK on_rparen on_nl UNK on_ignored_nl on_const # A strict Java 8 requirement (1.8) should prompt the user to install # an OpenJDK 1.8 distribution. Versions newer than Java 8 are not # completely backwards compatible, and contain breaking changes such as # strong encapsulation of JDK-internal APIs and a modified version scheme # (*.0 not 1.*).
